numpy
scikit-learn~=0.24.1
scipy~=1.6.2
jinja2~=2.11.3
pyyaml
pandas~=1.2.4
statsmodels~=0.12.2
pygments~=2.8.1
colorama~=0.4.4
pyparsing~=2.4.7
networkx~=2.5
sympy~=1.8
matplotlib~=3.3.4
setuptools~=52.0.0
kaggle
librosa
cmsisdsp
tensorflow
wandb
tensorflow_model_optimization